#ho{
    color: none;
}
#ho:hover{
    color: tomato;
}
#ab{
    color: none;
}
#ab:hover{
    color: tomato;
}
#se{
    color: none;
}
#se:hover{
    color: tomato;
}
#lo{
    color: none;
}
#lo:hover{
    color: tomato;
}
#re{
    color: none;
}
#re:hover{
    color: tomato;
}